body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: auto;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: underline;
  color: seashell;
  padding: 10px;
}

main {
  position: relative;
  top: 70px;
}

footer {
  position: relative;
  top: 750px; /*TODO fix thisyi8*/
}

.logo img {
  height: 50px;
  margin-left: 10px;
}


/*Mission/About Us Styling*/
.missionContainer {
  background-image: url("./../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.missionheader,
.missioncontent {
  background-color: black;
  width: 100%;
  text-align: center;
  display: block;
}

.missionContainer h2,
.missionContaine
| h4 {
  margin: 15px;
}


/*Featured Teas Styling*/
.featuredTeaContainer {
  display: flex;
  width: 1000px;
  margin: auto;
  flex-direction: column;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50px;
}

.teaHeader h2,
.teaHeader h4 {
  margin: 25px;
}

.teaRow1 {
  display: flex;
  justify-content: space-between;
}

.teaRow2 {
  display: flex;
  justify-content: center;
}

.teaItem {
  padding-bottom: 10px;
}

.teaItem img {
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

.teaItem h4 {
  margin: auto;
}

.teaRow2 .teaItem {
  margin: 25px;
}

/*Locations styling*/
.locationsContainer {
  position: relative;
  top: 75px;
  background-image: url("./../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.locationsHeader h2 {
  margin: auto auto 15px;
}

.locations {
  display: flex;
}

.address {
  background-color: black;
  width: 300px;
  opacity: 1;
  text-align: center;
  margin: auto 20px;

}
